<header id="navbar">
    <nav id="navHead">
        <div class="row mx-0">
            <div class="col-5"></div>
            <div class="col-2 text-center">
                <img src="/images/logoheader.png" alt="">
            </div>
            <div class="col-5 px-0">
                <ul id="liensConnection">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li> <a href="{{path('users')}}">Mon compte</a> </li>
                        <li> <a href="{{path('app_logout')}}">Se déconnecter</a> </li>
                    {% else %}
                        <li> <a href="{{path('app_register')}}">S'inscrire</a> </li>
                        <li> <a href="{{path('app_login')}}">Se connecter</a> </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar-container container">
        <!-- Bouton menu burger : -->
        <button type="button" class="navbar-toggle" aria-label="Open navigation menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Menu gauche déroulant: -->
        <div class="navbar-menu left sidebar">
            <ul class="navbar-links mb-0">
                <li class="navbar-item"> <a class="navbar-link" href="{{path('app_home')}}">Accueil</a> </li>
                <li class="navbar-item"> <a class="navbar-link" href="{{path('app_presentation')}}">Présentation</a> </li>
                <li class="navbar-item"> <a class="navbar-link" href="{{path('app_animations')}}">Animation</a> </li>
                <li class="navbar-item"> <a class="navbar-link" href="{{path('app_contact')}}">Contact</a> </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="navbar-item"> <a class="navbar-link" id="link-admin" href="{{path('admin_home')}}">Admin</a> </li>
                {% endif %}
            </ul>
        </div>

        <!-- Logo Connexion en mode mobile portrait : -->
        <button id="butn_connect">
            <ul id="logoconnect">
                <li class="logoderoulant">
                    <i class="fas fa-user fa-2x"></i>
                    <i class="fas fa-sort-down"></i>
                    <ul class="sousmenu">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li> <a href="{{path('users')}}">Mon compte</a> </li>
                            <li> <a href="{{path('app_logout')}}">Se déconnecter</a> </li>
                        {% else %}
                            <li> <a href="{{path('app_register')}}">S'inscrire</a> </li>
                            <li> <a href="{{path('app_login')}}">Se connecter</a> </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </button>
    </nav>
</header>