{# templates/animations.html.twig #}
{% extends "base.html.twig" %}

{% block title %}
	QG Animation | Fiche Animation
{% endblock %}

{% block stylesheets %}
	<link rel='stylesheet' type='text/css' media='screen' href="{{ asset('css/animations.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<img src="{{ asset('uploads/' ~ animations.images[0].name)|imagine_filter('square') }}" class="card-img-top" alt="{{ animations.title }}">
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6">
				<h1 class="title_details">{{animations.title}}</h1>
				<p>
					Categorie :

					{# {{ dump(animations.categories) }} #}
					{{ animations.categories|map (c => c.name)|join(', ') }}

				</p>

				<p
					class="card-text">
					{# {{ animation.scenario|striptags|u.truncate(50, '...') }} #}
					{{ animations.scenario|raw }}
				</p>
				{# {{ animation.scenario|striptags|u.truncate(50, '...') }} #}
				{{ animations.technicalInfo|raw }}
				<a href="{{path('app_contact',{id: animations.id})}}" class="btn btn-primary">
					Devis gratuit pour cet évènement
				</a>
			</div>
			{# Fin de colonne #}
		</div>
		{# Fin de row #}
	</div>
	{# Fin de container #}
	<div class="container">
		<h1>
			Nos réalisations
		</h1>
		<div class="row">
			{% for img in animations.images %}
				<div class="col">
					<img src="{{ asset('uploads/' ~ img.name)|imagine_filter('square') }}" class="card-img-top" alt="{{ animations.title }}">
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<h1>
			Vous aimerez peut être aussi...
		</h1>
	</div>

{% endblock %}
{% block javascripts %}

	<script src="{{ asset('js/animations.js')}}"></script>
{% endblock %}
