{# templates/animation.html.twig #}
{% extends "base.html.twig" %}

{% block title %}
	QG Animation | Fiche Animation
{% endblock %}

{% block stylesheets %}
	<link rel='stylesheet' type='text/css' media='screen' href="{{ asset('css/animation.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6">
            {% if animation.images is null or animation.images|length == 0 %}
                <img src="{{ asset('/uploads/image_no_image.jpg') }}">
            {% else %}
                <img src="{{ asset('/uploads/' ~ animation.images[0].name)|imagine_filter('square') }}" class="card-img-top" alt="{{ animation.title }}">
            {% endif %}
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6">
				<h1 class="title_details">{{animation.title}}</h1>
				<p>
					Categorie :

					{# {{ dump(animation.categories) }} #}
					{{ animation.categories|map (c => c.name)|join(', ') }}

				</p>

				<p
					class="card-text">
					{# {{ animation.scenario|striptags|u.truncate(50, '...') }} #}
					{{ animation.scenario|raw }}
				</p>
				{# {{ animation.scenario|striptags|u.truncate(50, '...') }} #}
				{{ animation.technicalInfo|raw }}
				<a href="{{path('app_contact',{id: animation.id})}}" class="btn btn-primary">
					Devis gratuit pour cet évènement
				</a>
			</div>
			{# Fin de colonne #}
		</div>
		{# Fin de row #}
	</div>
	{# Fin de container #}
	<div class="container">
		<h1>
			Nos réalisations
		</h1>
		<div class="row">

        {% if animation.images is not null and animation.images|length >=2 %}
			{% for img in animation.images[1:] %}
            <div class="col">
                <img src="{{ asset('uploads/' ~ img.name)|imagine_filter('square') }}" class="card-img-top" alt="{{ animation.title }}">
			</div>
            {% endfor %}
        {% endif %}
			
		</div>
	</div>
	<div class="container">
		<h1>
			Vous aimerez peut être aussi...
		</h1>
	</div>

{% endblock %}
{% block javascripts %}

	<script src="{{ asset('js/animations.js')}}"></script>
{% endblock %}
