{# templates/animations.html.twig #}
{% extends "base.html.twig" %}

{% block title %}
	QG Animation | Animations
{% endblock %}

{% block stylesheets %}
	<link rel='stylesheet' type='text/css' media='screen' href="{{ asset('css/animations.css') }}">
{% endblock %}

{% block body %}

	<div class="container-fluid my-3" id="mycarousel">
		<div class="row pt-0">
			<div
				class="scene">
				{# Nous récuperons une variable "array" "animations" renvoyée par le controller dans cette vue pour pouvoir boucler dessus pour afficher une div à chaque animation. Lorsqu'un ajout ou suppression d'animation sera effectué dans l'espace Admin, les divs seront ajustées en conséquence #}
				<div class="carousel">
					{% set i = 0 %}
					{% for animation in animations %}
						<div class="carousel__cell" id="img{{i}}"><img src="{{ asset('/uploads/') ~ animation.images[0].name }}"></div>

						{# Creation de "X" balises titre h2 stockant le nom de chaque animation avec un affichage masqué display:none : #}
						<h2 id="titre{{i}}" style="display:none">
							{{animation.title}}
						</h2>
						<p id="scenario{{i}}" style="display:none">
							SCÉNARIO : {{animation.scenario |striptags |raw }}
						</p>


						{% if ((animations|length)-1) == i %}
							{% set i = 0 %}
						{% else %}
                    {% set i = i+1 %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="myselector">
		<div class="carousel-options">
			{# Options de la balise input retirées provisoirement car non nécessaires:
			            type="range" : sert à afficher une jauge avec un curseur
			            min="1" max="100" : délimite la jauge de sélection avec un curseur
			            animations|length : indique le nombre d'animations présent dans la table (=nb de vignettes qui seront affichées) #}
			<p>
				<label
					style="display:none">
					<!-- Cells -->
					<input class="cells-range" value="{{ animations|length }}"/>
				</label>
			</p>

			{# Boutons de sélections qui vont permettre un changement d'affichage du carousel par rotation. Le clic sur ce bouton viendra également incrémenter ou décrémenter l'index de lecture de la diapositive centréé (initialisée à zéro au chargement de la page) #}
			<p>
				<button class="previous-button">Previous</button>
				<button class="next-button">Next</button>
			</p>
			<div style="display:none" value="0"></div>
			<p style="display:none">
				<label><input type="radio" name="orientation" value="horizontal" checked/></label>
				<label><input type="radio" name="orientation" value="vertical"/></label>
			</p>
		</div>
	</div>

	<div style="display:none" id="readIdImage"></div>
	<div class="container">
		<h1 id="title_animation">
            {% if animations is not empty %} 
                {{animations[0].title}}
            {% endif %}
		</h1>
	</div>


    <div class="container">
    	<div class="container-fluid">
            <p id="scenario_animation">
            {% if animations is not empty %}
                <!-- striptags retire les balises HTML, il n'accepte que celle passées entre parenthèse -->
                {{ 'SCÉNARIO :' ~ animations[0].scenario|striptags|convert_encoding('UTF-8', 'ISO-8859-1') }}
            {% endif %}
                
            </p>
	    </div>
    </div>

	<div class="container-fluid">
		CARACTÉRISTIQUES TECHNIQUES :

	</div>
	<div class="container-fluid">
		JEUX :
	</div>
</div>{% endblock %}{% block javascripts %}

<script src="{{ asset('js/animations.js')}}"></script>{% endblock %}
