{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du site
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        {% for animation in animations %}
            <div class="card col-4" style="width: 18rem;">
                <img src="{{ asset('uploads/' ~ animation.images[0].name)|imagine_filter('square') }}" class="card-img-top" alt="{{ animation.title }}">
                <div class="card-body">
                    <h5 class="card-title"> {{ animation.title }}</h5>
                    <p> Categorie : {{ animation.categories[0].name }}</p>
                    <p class="card-text"> {{ animation.description|striptags|u.truncate(50, '...') }}</p>
                    <a href="#" class="btn btn-primary"> + d'infos </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
