{# templates/presentation.html.twig #}
{% extends "base.html.twig" %}

{% block title %}
	QG Animation | Presentation
{% endblock %}

{% block stylesheets %}
	<link rel='stylesheet' type='text/css' media='screen' href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="container" id="containerTopPresentation">
        {% for presentation in presentations %}
			<div class="row">
				<div class="col-sm-4">
                <img src="{{ asset('uploads/' ~ presentation.imageTop )|imagine_filter('square') }}" class="card-img-top" alt="#">
					
				</div>
				<div class="col-sm-8 d-flex align-items-center">
                    {{ presentation.topDescription |raw }}
				</div>
			</div>
		</div>
	</div>
    <div class="container-fluid">
		<div class="container" id="containerBottomPresentation">
			<div class="row">
				<div class="col-sm-8 d-flex align-items-center">
					{{ presentation.bottomDescription |raw }}
				</div>
                <div class="col-sm-4">
					<img src="{{ asset('uploads/' ~ presentation.imageBottom )|imagine_filter('square') }}" class="card-img-top" alt="#">
				</div>
			</div>
		</div>
	</div>
    {% endfor %}
{% endblock %}


{% block javascripts %}{% endblock %}
