{% extends 'base.html.twig' %}


{% block title %}
	{% if app.request.attributes.get('_route') == 'admin_users_modifier' %}
		Modifier un utilisateur
	{% else %}
		Ajouter un utilisateur
	{% endif %}
{% endblock %}

{% block body %}
	{% if app.request.attributes.get('_route') == 'admin_users_modifier' %}
		<h1 class="text-center mt-2">
			Modifier un utilisateur
		</h1>
	{% else %}
		<h1 class="text-center mt-2">
			Ajouter un utilisateur
		</h1>
	{% endif %}
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4 col-sm-12 my-3">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.gender) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.dateBirth) }}
                <button type="submit" class="btn btn-secondary" id="btnRegister">Enregistrer le nouvel utilisateur</button>

                {{ form_end(registrationForm) }}
            </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js')}}"></script>
{% endblock %}
