{% extends 'base.html.twig' %}


{% block title %}
	{% if app.request.attributes.get('_route') == 'admin_users_modifier' %}
		Modifier un utilisateur
	{% else %}
		Ajouter un utilisateur
	{% endif %}
{% endblock %}

{% block body %}
	{% if app.request.attributes.get('_route') == 'admin_users_modifier' %}
		<h1 class="text-center mt-2">
			Modifier un utilisateur
		</h1>
	{% else %}
		<h1 class="text-center mt-2">
			Ajouter un utilisateur
		</h1>
	{% endif %}

	<div class="container-fluid">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Email</th>
					<th scope="col">Titre de civilité</th>
					<th scope="col">Prénom</th>
					<th scope="col">Nom</th>
					<th scope="col">Mot de passe</th>
					<th scope="col">Date Naissance</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row"></th>
					{{ form_start(registrationForm) }}
					<td>{{ form_row(registrationForm.email) }}</td>
					<td>{{ form_row(registrationForm.gender) }}</td>
					<td>{{ form_row(registrationForm.firstname) }}</td>
					<td>{{ form_row(registrationForm.name) }}</td>
					<td>{{ form_row(registrationForm.plainPassword) }}</td>
					<td>{{ form_row(registrationForm.dateBirth) }}</td>
					{{ form_end(registrationForm) }}
				</tr>
			</tbody>
		</table>

		{% if app.request.attributes.get('_route') == 'admin_users_modifier' %}
			<button type="submit" class="btn btn-secondary float-right mb-5" id="btnRegister">Modifier l'utilisateur</button>
		{% else %}
			<button type="submit" class="btn btn-secondary float-right mb-5" id="btnRegister">Enregistrer le nouvel utilisateur</button>
		{% endif %}

	</div>


{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/images.js')}}"></script>
{% endblock %}
