{% extends 'base.html.twig' %}

{% block title %}
	Index Admin Controller
{% endblock %}

{% block body %}

	<h1 class="text-center">
		Mon espace d'administration du site
	</h1>

	<div class="container-fluid">
		<div class="container text-center">

			<h2>
				Administration générale :</h2>
			<div class="row">
				<div class="col-12">
					<a href="{{path('admin_users_home')}}">
						<img src="{{ asset('/images/100x100/AdminUsers100x100.png')}}" alt="">
					</a>
					<a href="#">
						<img src="{{ asset('/images/100x100/AdminCalendar100x100.png')}}" alt="">
					</a>
				</div>
			</div>
			<br>

			<h2>
				Site internet - Gestion du contenu :</h2>
			<div class="row">
				<div class="col-12">
					<a href="{{path('admin_images_carousel_accueil_home')}}">
						<img src="{{ asset('/images/100x100/AdminCarouselAccueil100x100.png')}}" alt="">
					</a>
                    {% for presentation in presentations %}
					<a href="{{path('admin_presentation_edit', {id: presentation.id})}}">
						<img src="{{ asset('/images/100x100/AdminPresentation100x100.png')}}" alt="">
					</a>
                    {% endfor %}
					<a href="{{path('admin_categories_home')}}">
						<img src="{{ asset('/images/100x100/AdminCategories100x100.png')}}" alt="">
					</a>
					<a href="{{path('admin_animations_home')}}">
						<img src="{{ asset('/images/100x100/AdminAnimations100x100.png')}}" alt="">
					</a>
				</div>
			</div>

			<h2>Administratif :</h2>
			<div class="row">
				<div class="col-12">
					<a href="{{path('admin_demandes_home')}}">
						<img src="{{ asset('/images/100x100/AdminDemandes100x100.png')}}" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
