{% extends 'base.html.twig' %}

{% block title %}
	Index Admin Controller
{% endblock %}

{% block body %}

	<h1 class="text-center">
		Mon espace d'administration du site
	</h1>

	<div class="container-fluid">
		<div class="container text-center">


			<h2>
				Administration générale :</h2>
			<a class="btn btn-secondary my-2" href="{{path('admin_users_home')}}" role="button" style="color: rgb(70, 220, 70);">Administration | Gestion des utilisateurs</a>
			<br>
			<a class="btn btn-secondary my-2" href="#" role="button" style="color: rgb(167, 39, 39);">Administration | Gestion du Planning (Full Calendar) (A venir...)
			</a>
			<br>

			<h2> Site internet - Gestion du contenu :</h2>
			<a class="btn btn-secondary my-2" href="{{path('admin_images_carousel_accueil_home')}}" role="button">Administration | Gestion du Carousel Accueil (En cours...)
			</a>
			<br>
			<a class="btn btn-secondary my-2" href="#" role="button" style="color: rgb(167, 39, 39);">Administration | Page Présentation (A venir...)</a>
			<br>
			<a class="btn btn-secondary my-2" href="{{path('admin_categories_home')}}" role="button" style="color: rgb(70, 220, 70);">Administration | Gestion des catégories</a>
			<br>
			<a class="btn btn-secondary my-2" href="{{path('admin_animations_home')}}" role="button" style="color: rgb(70, 220, 70);">Administration | Gestion des animations</a>
			<br>
			<h2>
				Administratif :</h2>
			<a class="btn btn-secondary my-2" href="{{path('admin_demandes_home')}}" role="button" style="color: rgb(167, 39, 39);">Gestion des demandes (A venir...)
			</a>
			<br>
			<a class="btn btn-secondary my-2" href="#" role="button" style="color: rgb(167, 39, 39);">Gestion des devis (A venir...)
			</a>
			<br>
			<a class="btn btn-secondary my-2" href="#" role="button" style="color: rgb(167, 39, 39);">Gestion des factures (A venir...)
			</a>
			<br>
		</div>
	</div>

{% endblock %}
