{% extends 'base.html.twig' %}

{% block title %}
	Index Admin Controller
{% endblock %}

{% block body %}

	<h1 class="text-center">
		Mon espace d'administration du site
	</h1>

	<div class="container-fluid">
		<div class="container text-center">


			<h2>
				Administration générale :</h2>
			<a class="btn btn-secondary my-2" href="{{path('admin_users_home')}}" role="button" style="color: rgb(70, 220, 70);">Administration | Gestion des utilisateurs</a>
			<br>
			<a class="btn btn-secondary my-2" href="#" role="button">Administration | Gestion du Planning (Full Calendar) (En cours...)
			</a>
			<br>

			<h2> Site internet - Gestion du contenu :</h2>
            <p>Administration | Page Accueil (En cours...) :</p>
			<a class="btn btn-secondary my-2" href="{{path('admin_images_carousel_accueil_home')}}" role="button">Administration | Gestion du Carousel Accueil (En cours...)
			</a>
			<br>
			<a class="btn btn-secondary my-2" href="#" role="button">Administration | Page Présentation (En cours...)
			</a>
			<br>
			<a class="btn btn-secondary my-2" href="{{path('admin_categories_home')}}" role="button" style="color: rgb(70, 220, 70);">Administration | Gestion des catégories</a>
			<br>
			<a class="btn btn-secondary my-2" href="{{path('admin_animations_home')}}" role="button" style="color: rgb(70, 220, 70);">Administration | Gestion des animations</a>
			<br>
			<h2>
				Administratif :</h2>
			<a class="btn btn-secondary my-2" href="{{path('admin_demandes_home')}}" role="button">Gestion des demandes (En cours...)
			</a>
			<br>
			<a class="btn btn-secondary my-2" href="#" role="button">Gestion des devis (En cours...)
			</a>
			<br>
			<a class="btn btn-secondary my-2" href="#" role="button">Gestion des factures (En cours...)
			</a>
			<br>
		</div>
	</div>

{% endblock %}
