{% extends 'base.html.twig' %}

{% block title %}Gérer les catégories
{% endblock %}

{% block body %}

	{% include('_partials/flashs.html.twig') %}

	<div class="container">
		<h1 class="text-center my-3">Gérer les catégories</h1>
		<a class="btn btn-success float-right my-3" href=" {{path("admin_categories_ajout")}}" role="button">Ajouter une catégorie</a>
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nom</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for categorie in categories %}
					<tr>
						<td>{{categorie.id}}</td>
						<td>{{categorie.name}}</td>
						<td class="text-center">
							<a class="btn btn-primary" href="{{path("admin_categories_modifier", {slug: categorie.slug})}}" role="button">
								<i class="far fa-edit"></i>
							</a>
							<a class="btn btn-danger secondary" href="{{path("admin_categories_supprimer", {slug: categorie.slug})}}" role="button">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
