{% extends 'base.html.twig' %}

{% block title %}Gérer les animations
{% endblock %}

{% block body %}

	{% include('_partials/flashs.html.twig') %}

	<div class="container">
		<h1 class="text-center my-3">Gérer les animations</h1>
		<a class="btn btn-success float-right" href="{{path("admin_animations_ajout")}}" role="button">Ajouter une animation</a>
		<table class="table table-striped table-light my-1">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Titre</th>
					<th scope="col">Image</th>
					<th scope="col">Catégorie</th>
					<th scope="col">Description</th>
					<th scope="col">Date création</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for animation in animations %}
					<tr>
						<td>{{animation.id}}</td>
						<td>{{animation.title}}</td>
						<td>
							{% for image in animation.images %}
								<img src="{{ asset('/uploads/' ~ image.name) }}" alt="Image" width="150">
							{% endfor %}
						</td>
						<td>
							{% for categorie in animation.categories %}
								{{categorie}}
							{% endfor %}
						</td>
						<td>{{animation.scenario | raw }}</td>
						<td>{{animation.createdAt|date}}</td>
						<td class="text-center">
							<a class="btn btn-primary my-1" href="{{path("admin_animations_modifier", {slug: animation.slug})}}" role="button"><i class="far fa-edit"></i></a>

							{# <a class="btn btn-secondary" href="{{path("admin_animations_supprimer", {slug: animation.slug})}}" role="button">Supprimer</a> #}

							<!-- Button trigger modal -->
							<a href="{{path("admin_animations_supprimer", {slug: animation.slug})}}" type="button" class="btn btn-danger modal-trigger-animation my-1" data-toggle="modal" data-target="#modal-delete" data-id="{{animation.slug}}" data-titre="{{animation.title}}"><i class="fas fa-trash-alt"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="modal-delete" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Supprimer une animation</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
					<a href="" type="button" class="btn btn-primary">Oui</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
