{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{app.user.firstname}}
	{{app.user.name}}
{% endblock %}

{% block body %}

	{% include('_partials/flashs.html.twig') %}

	<div class="container mb-3">
		<div class="container-fluid">
			<div class="row">
				<div class="col text-center my-5">
					<h1>Mon Profil</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					<div class="row">
						<div class="col-6">
							Titre de civilité :
						</div>
						<div class="col-6">
							{{app.user.gender}}
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							Prénom :
						</div>
						<div class="col-6">
							{{app.user.firstname}}
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							Nom	:</div>
						<div class="col-6">
							{{app.user.name}}</div>
					</div>
					<div class="row">
						<div class="col-6">
							Date de naissance :</div>
						<div class="col-6">
							{{app.user.dateBirth | date('d-m-Y') }}
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							Email :</div>
						<div class="col-6">
							{{app.user.email}}
						</div>
					</div>
                    <div class="row">
						<div class="col-6">
							Adresse :</div>
						<div class="col-6">
							{{app.user.address}}
						</div>
					</div>
				</div>
				<div class="col-2"></div>
			</div>
			<div class="row">
				<div class="col-1"></div>
				<div class="col-3">
					<a href="{{ path('users_profil_modifier')}}" class="btn btn-dark mr-1">Modifier mes informations personnelles</a>
				</div>
				<div class="col-3">
					<a href="{{ path('users_password_modifier')}}" class="btn btn-dark">Modifier mon mot de passe</a>
				</div>
				<div class="col-3">
					<a href="{{ path('delete_user', {id: app.user.id})}}" class="btn btn-dark">Supprimer mon compte</a>
				</div>
				<div class="col-1"></div>
			</div>
		</div>
	</div>

	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Envoyé le</th>
					<th scope="col">Statut</th>
					<th scope="col">Type évènement</th>
					<th scope="col">Lieu évènement</th>
					<th scope="col">Date évènement</th>
					<th scope="col">Nombre personnes</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{# Remplissage tableau si demandes existantes : #}
				{# A chaque tour de boucle, nous allons venir créer un titre ainsi que plusieurs paragraphes qui stockeront les propriétés de la demande. Nous appliquerons un display:none à chacun de ces éléments afin de masquer l'affichage dans la vue.  Cela nous permettra d'exploiter ces données dans un second temps en appelant l'identifiant généré #}

				{% set i = 0 %}
					{% for demande in demandes %}
						<tr><td>
						</td>
							<td scope="row"> {{ demande.createdAt | date('d-m-Y') }}</td>
						<td>{{ demande.status}}</td>
						<td>{{ demande.eventType}}</td>
						<td>{{ demande.eventLocation }}</td>
						<td>{{ demande.eventDate | date('d-m-Y') }}</td>
						<td>{{ demande.numberPeople }}</td>
						<td>
							<a href="#modal-detail-demande" type="button" class="btn btn-success modal-trigger-demande-detail my-1" data-toggle="modal" data-target="#modal-detail-demande" data-createdat="{{ demande.createdAt | date('d-m-Y') }}" data-status="{{demande.status}}" data-eventtype="{{demande.eventType}}" data-eventlocation="{{ demande.eventLocation }}" data-eventdate="{{ demande.eventDate | date('d-m-Y') }}" data-numberpeople="{{ demande.numberPeople }}" data-animationschedules="{{ demande.animationSchedules }}" data-budgetclient="{{ demande.budgetClient }}" data-othercomments="{{ demande.otherComments }}">
								<i class="fas fa-book-reader"></i>
							</a>
							<a href="#">Consulter le devis</a>
						</td>
					</tr>
					{% set i = i+1 %}
				{% endfor %}
			</tbody>
		</table>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal-detail-demande" tabindex="-1" role="dialog" aria-labelledby="modal-detail-demande" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="titleDetailDemande"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-justify" id="DetailDemandeContent"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
	{# Fin de la modal #}
{% endblock %}
