{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{app.user.firstname}}
	{{app.user.name}}
{% endblock %}

{% block body %}

	{% for message in app.flashes('message') %}
		<div class="row">
			<div class="col-12 alert alert-success" role="alert">{{message}}</div>
		</div>
	{% endfor %}

	<div class="row">
		<div class="col-3">
			Titre de civilité :
		</div>
		<div class="col-9">
			{{app.user.gender}}
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			Prénom :
		</div>
		<div class="col-9">
			{{app.user.firstname}}
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			Nom	:</div>
		<div class="col-9">
			{{app.user.name}}</div>
	</div>
	<div class="row">
		<div class="col-3">
			Date de naissance :</div>
		<div class="col-9">
			{{app.user.dateBirth | date('d-m-Y') }}
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			Email :</div>
		<div class="col-9">
			{{app.user.email}}
		</div>
	</div>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Envoyé le</th>
        <th scope="col">Type évènement</th>
        <th scope="col">Lieu évènement</th>
        <th scope="col">Date évènement</th>
        <th scope="col">Nombre personnes</th>
        <th scope="col">Horaires animation</th>
        <th scope="col">Budget</th>
        <th scope="col">Autres commentaires</th>
    </tr>
    </thead>
    <tbody>
    {# Remplissage tableau si demandes existantes : #}
    {% for demande in demandes %}
        <tr>
            <th scope="row">{{ demande.createdAt | date('d-m-Y') }}</th>
            <td>{{ demande.eventType}}</td>
            <td>{{ demande.eventLocation }}</td>
            <td>{{ demande.eventDate | date('d-m-Y') }}</td>
            <td>{{ demande.numberPeople }}</td>
            <td>{{ demande.animationSchedules }}</td>
            <td>{{ demande.budgetClient }}</td>
            <td>{{ demande.otherComments }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    
    <div class="row">
        <div class="col-12">
            <a href="{{ path('users_profil_modifier')}}" class="btn btn-dark mr-1">Modifier mes informations personnelles</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('users_password_modifier')}}" class="btn btn-dark">Modifier mon mot de passe</a>
        </div>
    </div>


{% endblock %}
