{% extends 'base.html.twig' %}

{% block title %}
	Modifier la page de présentation
{% endblock %}

{% block body %}
	<div class="container-fluid">
		Modifier la page de présentation
	</div>

	<div class="container">
		<table class="table table-striped table-light">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Contenu actuel du site</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Image (haut)</th>
					<td>
                    {{form_start(form)}}
						{# Vérifier si la route est "admin_presentation_edit", on affiche les images #}
						{% if app.request.attributes.get('_route') == 'admin_presentation_edit' %}
							{% for image in presentation.images %}
								<div>
									<img src="{{ asset('/uploads/' ~ image.name) }}" alt="Image" width="150">
									<a href="{{ path ('admin_animations_delete_image', {'id': image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">
										Supprimer
									</a>
								</div>
							{% endfor %}
						{% else %}
							<td>{{form_row(form.images)}}</td>
						{% endif %}
					</td>


				</tr>
				<tr>
					<th scope="row">Descriptif (haut page)</th>
					<td>{{form_row(form.topDescription)}}</td>
				</tr>
				<tr>
					<th scope="row">Descriptif (bas page)</th>
					<td>{{form_row(form.bottomDescription)}}</td>
				</tr>
				<tr>
					<th scope="row">Image (bas)</th>
					<td></td>
				</tr>
				{{form_end(form)}}
			</tbody>
		</table>

	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/images.js')}}"></script>
{% endblock %}
